{% include "basic.html" %}

<div style="padding-top: 110px; color: rgb(3, 31, 21);">
    <h3 class="text-center">Userdetails</h3>
</div>

<div class="h-75 p-lg-5">
    <div class="container shadow-lg p-3 mb-5 bg-body w-25 h-150 p-lg-5">
        <table class="table table-bordered table-hover">
            <tr>
                <td>Username</td>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <td>Firstname</td>
                <td>{{customer.first_name}}</td>
            </tr>
            <tr>
                <td>Lastname</td>
                <td>{{customer.last_name}}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
            </tr>
            {% for order in orders %}
            <tr>
                <td>Order</td>
                <td>{{order.id}}</td>
            </tr>
            {% endfor %}

        </table>
    </div>

</div>